@tailwind base;
@tailwind components;
@tailwind utilities;

.Dropdownadv::before {
    content: '';
    position: absolute;
    top: -0.9rem;
    right: 4rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: white;
  }
  